/* GLOBAL STYLES */
body {
  background: #fff;
  color: #222;
}
/* ================== */

/* LANDING */

.wrapper {
  
}

#showcase {
  background-image: url('./assets/banner.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 65px;
  line-height: 1.5;
  color: #eee;;
}

#showcase p {
  font-size: 20px;
  color: #eee;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #eee;
  background: #007bff;
  /* border: #007bff 1px solid; */
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 50px;
}

#showcase .button:hover {
  background: #053568;
  border: none;
  color: #eee;
}


/* ================== */

/* DOCUMENTATION */

#documentation {
  /* display: flex; */
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
    "n n n n n n n n n n n n"
    "s s c c c c c c c c c c"
  ;
}

#brand {
  grid-area: n;
  display: flex;
  /* background: #333; */
  background: linear-gradient(to right, #202020 0%, #282828 100%);
  height: 65px;
  color: #fff;
  font-size: 35px;
}

#brand #logo {
  padding: 10px;
  user-select: none;
}

#sidebar {
  padding: 8px;
  overflow-y: scroll;
  /* overflow: auto; */
  grid-area: s;
  height: 100vh;
}

#sidebar ul {
  margin-top: 20px;
  margin-left: -30px;
}

#sidebar ul li {
  line-height: 1.5;
  list-style: none;
  margin-bottom: 1rem;
}

a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

#content {
  /* background: #eee; */
  grid-area: c;
  width: 100%;
  padding: 25px;
  line-height: 1.5;
  padding-left: 75px;
  overflow-y: scroll;
}

/* ================== */
